@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
.nu-logo {
  padding-top: 10px;
  padding-bottom: 10px;
}
.nu-logo-image {
  width: 8%;
}
.navbar-box-b {
  background-color: #35408e;
  color: white;
}
.navbar-box-y {
  background-color: #fcd41c;
  color: white;
  height: 4px;
}
.nav-icons {
  padding-left: 15px;
  font-size: 10px;
  color: white;
}

.carousel-caption {
  color: black;
}
.carousel-caption h5 {
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  font-weight: 600;
}
.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 30px;
  line-height: 1.9;
  font-weight: 500;
  font-size: 30px;
}
.carousel-inner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.c-active {
  filter: blur(2px);
}
.rbutton {
  background-color: #fcd41c;
  color: black;
  width: 250px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 20px;
}
.banner {
  padding-top: 80px;
}
.about {
  padding-top: 80px;
  padding-bottom: 100px;
}
.about-txt,
.about-img {
  padding: 20px;
}
.about-txt p {
  padding: 30px;
}
.new-arrival {
  padding-top: 50px;
}
.card-text {
  padding: 10px;
}
.footer {
  margin-top: 50px;
}
.copy-right {
  font-size: 10px;
}
.footer-link4 {
  list-style: none;
}
.f-link1, .footer-div {
  padding-top: 30px;
}
.f-links {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.f-links a {
  text-decoration: none;
  color: white;
  font-size: 12px;
}
.f-nu {
  font-size: 25px;
}
